<html>
    <head>
        <title>Django Blog</title>
    </head>
    <body>
        <div>
            <h1><a href = "">Django Blog</a></h1>
        </div>

        <div>
            <p>published: 26.08.2017, 06:00</p>
            <h2><a href="">My first post</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ullamcorper, erat maximus condimentum commodo, lacus purus hendrerit eros, id ullamcorper quam ante vitae purus. </p>
        </div>

        <div>
            <p>published: 26.08.2017, 06:00</p>
            <h2><a href="">My second post</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ullamcorper, erat maximus condimentum commodo, lacus purus hendrerit eros, id ullamcorper quam ante vitae purus. </p>
        </div>

    </body>
</html>